*, *::after, *::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background:#f2f5f9;
}

/* All Link Styles */
a{
  text-decoration: none;
  color: #000000;
}

/* Header Styling */
.top-header{
  background-color: #15598f;
  overflow: hidden;
  color: #fff;
  padding: 0.47rem;
  height: 100vh;  
}

.top{
  display: flex;
  justify-content: space-between;
}

.top h1{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 4rem;
  padding-left: 15px;
  font-weight: 100;
  align-items: center;
  align-content: center;
  align-content: center;
  height: 30vh;
  cursor: pointer;
}

.top h1:hover{
  transform: rotate(50deg);
}

#myskill{
  font-size: 18px;
  position: relative;
  top: px;
  background-image:linear-gradient(234deg, green, yellow) ;
}

/*  Animation Styling */
.tiny{
  font-size:16px !important;
  /* display: none; */
  transition: all 9s ease;
  color: transparent !important;

}
.tiny-left{
  float:left;

}

.tiny-c{
  text-align: center;

}

.tiny-right{
  float:right;

}

.g{
  color:rgb(4, 180, 4);

}
.y{  
  color:yellow;

}

.b{color:rgb(186, 133, 235);}

.r{color: rgb(114, 35, 35);}

.p{color:pink}

/* End of Animation Styling */


.top-link ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 33px;
  padding-right: 17px;
  position: relative;
  top: 17px;
}

.top-link ul a{
  font-size: 1.4rem;
  color: #fff;
  margin: 6px;
  padding: 5px 5px;
}

.top-link ul a:hover{
  border: 2px solid white;
  padding: 5px 5px;
}
.hr{
  color: red !important;
  width: 100%;
}
.top-link .collapse-icon{ 
  display: none;

}
.intro-1{
  text-align: center;
}

.intro-1 .section-one h3{
  font-size: 5rem;
  font-weight: 900;
  color: #f2f5f9;
}
.intro-1 .section-one h3:hover{
  border: 3.91px double whitesmoke;
  background-image: linear-gradient(180deg, #333, #252934);
}

.intro-1 .section-one p{
  font-size: 2.72rem;
  font-weight: -100;
  font: x-large;
  padding: 23px;
}

.intro-1 .section-one p:hover{
  border: 0.9px dashed wheat;
} 

.intro-1 section span{
  font-size: 1.72rem;
  font: x-large;
  transition: all 11s ease;
  padding: 23px;
  position: relative;
  top: 20px;
  color: transparent;
}

.section-two{
  position: relative;
  top: 20px;
}

.intro-1 .section-two strong{
  font-weight: 100;
  font: large;
}

  /* Nav Bar Responsive Styles */
.link-toggle{
  display: none;
}

/* Image  */

.me{
  display: flex;
}

.me img{
  border-radius: 50%;
  width: 300px;
  height: 300px;
  transform: rotate(1deg);
  transition: all 9s ease;
}

/* About Section Styling */

.about-me{
  text-align: center;
  height: 100vh;
}

.about {
  color: #333;
  display: flex;
  flex-direction: column;
  margin-left: 55px;
  justify-items: center;
}
 
.about h4{
  font-size: 5rem;
}

.section-3{
  position: relative;
  top: 3rem;
  left:3rem;
  width: 70%;
}

.section-3 span{
  color: #343333;  
  font-size: 1.9rem;
  word-wrap:wrap;
}

.my_links{
  display: flex;
  position: relative;
  padding-left: 5rem;
}

.my_links ul{
  list-style:none;
  display: flex;
  gap: 2rem;
  cursor: pointer !important;
}

.my_links a{
  cursor: pointer !important;
  color: #888888 !important;
  border-radius: 3px;
}

.my_links a:hover{
  color: #011731 !important;
}

/* Social Link Styles */

.social-link{
  padding-top:20px;
  width: 40px;
  height:40px;
}

.social-link:hover{
  width: 44px;
  height:44px;
}
/* Social Link Styles End */

.form{
  display: flex;
  gap: 6px;
  padding-left: 1rem !important;
  padding-top: -23px;
  margin-bottom: 23px;
}
.form span{
  font-size: 21px;
  padding: 12px;
}

.form input{
  padding: 9px 12px;
  font-size:26px;
  border-color: brown;
}

.form input:focus{
  background-color: #333;
  color:#fff;
  border: none;
  outline: none ;

}

.btn{
  margin-top: 25px;
  border: none;
  background-color: rgb(187, 93, 93);
  color: white;
  font-size: 19px;
  cursor: pointer;
  border-radius: 12px;
  height: 50px;
  padding:12px;
}

.btn:hover{
  background-color: #333;
  color: #fff;
}

footer{
  text-align:center;
  font-size: 23px;
  word-spacing: 4px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-top: 40px;
}



/*  skill toggle */

.skill-toggle{
  display: block;
}




