*, *::after, *::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background:#f2f5f9;
}

/* All Link Styles */
a{
  text-decoration: none;
  color: #000000;
}
.container{
  
}

.top-header{
  background-color: #15598f;
  overflow: hidden;
  color: #fff;
  padding: 0.47rem;
  height: 100vh;  
}

.top{
  display: flex;
  justify-content: space-between;
}

.top h1{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 4rem;
  padding-left: 15px;
  font-weight: 100;
  align-items: center;
  align-content: center;
  align-content: center;
  height: 30vh;
  cursor: pointer;
}

.top h1:hover{
  transform: rotate(50deg);
}

.top-link ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 33px;
  padding-right: 12px;
  position: relative;
  top: 17px;
}

.top-link ul a{
  font-size: 1.4rem;
  color: #fff;
  margin: 6px;
}

.top-link ul a:hover{
  border: 2px solid white;
}

.top-link .collapse-icon{ 
  display: none;

}
.intro-1{
  text-align: center;
}

.intro-1 .section-one h3{
  font-size: 5rem;
  font-weight: 900;
  color: #f2f5f9;
}
.intro-1 .section-one h3:hover{
  border: 0.91px dashed whitesmoke;
}

.intro-1 .section-one p{
  font-size: 2.72rem;
  font-weight: -100;
  font: x-large;
  /* color: #3a4145; */
  padding: 23px;
}

.intro-1 .section-one p:hover{
  border: 3px double wheat;
}

.intro-1 section span{
  font-size: 1.72rem;
  font: x-large;
  /* color: #2c3844; */
  padding: 23px;
  position: relative;
  top: 200px;
  color: transparent;
}

.intro-1 .section-two strong{
  font-weight: 100;
  font: large;
}

  /* Nav Bar Responsive Styles */
.link-toggle{
  display: none;
}



/* About Section Styling */



















