*, *::after, *::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background:#f2f5f9;
}

.container{
  
}

header{
  background-color: #15598f;
  overflow: hidden;
  color: #fff;
  padding: 0.47rem;
  height: 100vh;  
}

.top{
  display: flex;
  justify-content: space-between;
}

.top h1{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 4rem;
  padding-left: 15px;
  font-weight: 100;
  align-items: center;
  align-content: center;
  align-content: center;
  height: 30vh;
  line-height: ;
}

.top-link ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 33px;
  padding-right: 12px;
  position: relative;
  top: 17px;
}

.top-link{

}
.intro-1{
  text-align: center;
}

.intro-1 .section-one h3{
  font-size: 5rem;
  font-weight: 900;
  color: #f2f5f9;
  line-height: 0.2;
}

.intro-1 .section-one p{
  font-size: 2.72rem;
  font-weight: -100;
  font: x-large;
  /* color: #3a4145; */
  padding: 23px;
}

.intro-1 section span{
  font-size: 1.72rem;
  font: x-large;
  /* color: #2c3844; */
  padding: 23px;
  position: relative;
  top: 200px;
}

.intro-1 .section-two strong{
  font-weight: 100;
  font: large;
}