.moments img {
  width: 100%;
  border-radius: 15px;
}

.moments img:hover{
  filter: grayscale(0%);
}

.moments article {
padding: 20px;
border: 1px solid #999;
border-radius: 9px;
background: #f2f5f9;
filter: grayscale(100%);
transition: all 0.6s ease-in-out;
cursor: pointer;
}

.moments article:hover{
  border-color: #15858f;
  background: #fff;
  filter: grayscale(0%);
  transition: all 0.6s ease-out;
}
/* .moments a:link,
a:visited {
color: black;
} */
.moments h1 {
  margin-top: 0;
  margin-left: 0.75rem;
}
.moments {
  /* 
  <<<<<<<<<<
    Grid wasn't supported on my mobile so 
    I used an alternative to grid, 
    still looking for a way to fix grid compatibility  
  >>>>>>>>>>> */
  
  /* display: grid; */
  /* grid-template-columns: repeat(auto-fill, minmax(250px,2fr)); */
  /* grid-auto-rows: 100px; */
  /* grid-gap: 10px; */
  columns: 250px;
  column-gap: 20px; 
}
.moments article {
  break-inside: avoid-column;
  margin-bottom: 1rem; 
}

